<div class="wrapper">
  <div class="container">
    <nav>
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/user/register">register</a></li>
        <li><a href="/user/login">login</a></li>
        <li><a href="/user/logout">log out</a></li>
      </ul>
    </nav>
  </div>
</div>
