<div class="wrapper">

  <div class="container">
    <header class="header">

      <div class="brand">
        <a href="/">
          <h2>Responshub</h2>
        </a>
      </div>

      <nav class="navbar">
        <div class="search-topbar">
          <input type="search-input" placeholder="search your Query" class="search-input">
        </div>
        <div class="nav-link">
          <a href="/">Home</a>
          <a href="/">About</a>
        </div>
        <div class="auth-handle">
          <a href="/user/register">Sign up</a>
          <a href="/user/login">log in</a>
          <a href="/user/logout">log out</a>
        </div>

      </nav>
    </header>
  </div>
</div>