<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("components/head") %>

    <title>Home Page</title>
  </head>
  <body>
    <%- include("components/navbar") %>
    <div class="container contentWrapper">
      <div class="card">
        <h2>Card 1</h2>
        <p>This is a simple card with some content.</p>
      </div>
      <div class="card">
        <h2>Card 2</h2>
        <p>This is another card with different content.</p>
      </div>
      <div class="card">
        <h2>Card 3</h2>
        <p>Yet another card with its own content.</p>
      </div>

      <h1><%- 1+1 %></h1>
    </div>

    <%- include("components/footer") %>
  </body>
</html>
