body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #333;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
}

li {
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
}

.brand a {
  text-decoration: none;
  color: #fff;
}

.brand {
  flex: 1;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex: 3;
}

.auth-handle,
.nav-link {
  display: flex;
  gap: 15px;
}

.auth-handle {
  justify-content: flex-end;
}

.auth-handle a {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar a:hover {
  background: rgba(128, 128, 128, 0.4);
  opacity: 0.6;
}

.search-topbar {
  width: 400px;

}

.search-input {
  width: 100%;
  padding: 5px;
  border-radius: 15px;
}

.card {
  width: 300px;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
  width: 100%;
  display: flex;
  padding: 15px;
  text-align: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.footer p {
  text-align: center;
}


.contentWrapper {
  display: flex;
}

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  border: 1px solid #333;
  box-shadow: 1px 1px 4px#333;
  padding: 30px;
}

.form input {
  padding: 10px;
  width: 400px;
  outline: none;
  border-radius: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.a-link {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.a-link:hover {
  text-decoration: underline;
}